
.btn {
    background-color: white;
    border-radius: 5px;
    height: 30px;
    border: none;
    cursor: pointer;
    /*border-color: #2196F3;*/
    color: #7e54ed;
    font-weight: bold;
    margin-right: 10px;
}

.btn:hover {
    background: #7e54ed;
    color:white;
}

.active{
    border: 1px solid #2196F3;
    /*background:  yellow;*/

}
.todo{
   margin-left: 200px;
    /*flex-wrap: wrap;*/
}
.errorText{
    color:red
}
input[type=checkbox] {
    accent-color: green;
    border: 1px solid #7e54ed;
}

.task{
   width: 250px;
   min-height: 40px;
    background-color: #7e54ed;
    border-radius: 10px;
    margin-top: 15px;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.filter{
    margin-top: 15px;
}
.isDone {
    opacity: 0.5;
}
.containerTodo {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
}
