

.todo{

   margin-left: 200px;
    /*flex-wrap: wrap;*/
}
.errorText{
    color:red
}
.errorInput{
    color: red;
    border: red 4px solid;
}
.active{
    /*background: #2196F3;*/
    color: yellow;

}
.isDone {
    opacity: 0.5;
}