
.btn {
    background-color: white;
    border-radius: 5px;
    height: 30px;
    border: none;
    cursor: pointer;
    /*border-color: #2196F3;*/
    color: dodgerblue;
    font-weight: bold;
}

.btn:hover {
    background: #59a6ef;
    color:white;
}

.active{
    border: 1px solid #2196F3;
    /*background:  yellow;*/

}
.todo{
   margin-left: 200px;
    /*flex-wrap: wrap;*/
}
.errorText{
    color:red
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.isDone {
    opacity: 0.5;
}
.containerTodo {
    display: flex;
    flex-direction: column;
    margin: 50px;
    border: 1px solid #7e54ed;
    padding: 10px;
    border-radius: 5px;

}
.addItemForm{

}