.icon{
    width: 15px;
    height: 15px;
    /*background: yellow;*/
}
.btn{
    background: none;
    border: none;
}
.add{
    display: inline-block;
    width: 20px;
    height: 16px;
    background:#7e54ed;
    color:white;
    border-radius: 3px;
    font-weight: bold;
text-align: center;
    border: 1px solid #5820ee;
}
.add:hover{
    background: lightskyblue;
}
.disabled{
    opacity: 0.3;
}