.btn {
    background-color: white;
    border-radius: 5px;
    height: 30px;
    border: none;
    cursor: pointer;
    /*border-color: #2196F3;*/
    color: dodgerblue;
    font-weight: bold;
}

.input {
    height: 40px;
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #eaeaea;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
}

.input:focus {
    border: 2px solid gray;
    box-shadow: 1px 1px #006dd6;
}

.buttonX {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 3px;
    font-weight: bold;
}

.btn:hover {
    /*border: 1px solid #2196F3;*/
}
.active{
    background: yellow;
}